@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Salutare</h1>
    <p>Acesta este server-ul pentru aplicatia Chat [By Gavrilovici]. Poti sa o descarci pe linkul:</p>
    <p><a href="https://github.com/AndrianGavrilovici/Chat-By-Gavrilovici">https://github.com/AndrianGavrilovici/Chat-By-Gavrilovici</a></p><br/>
    <h3>Date de legatura:<br/>Andrian Gavrilovici<br/>Email: andrian.gav@gmail.com<br/>Telefon: +37360965765</h3>
</div>
